
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Great+Vibes&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italianno&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');

body{
    margin:0;
    padding: 0;
    color: pink;
    font-family: italianno;
    
}
.container{
    margin: 100px auto;
    width: 300px;
    background-color: rgb(255, 255, 255);
    padding: 50px 10px;
}
.container-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    
}
.container-content h1{
    font-size: 2.6rem;
    margin-bottom: -7px;
}
.container-content input{
    border: none;
    outline: none;
    text-align: center;
    background-color: rgb(248, 247, 247);
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px gray;
    cursor: pointer;
    
}
.container-content input::placeholder{
    color: pink;
     font-family: italianno;
     font-size: 1.3rem;
}
.container-content button{
    width: 100px;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 6px 0px;
    box-shadow: 0 2px 5px gray;
    background-color: pink;
    color: #fff;
    cursor: pointer;
}